:root {
  --color-background: whitesmoke;
  --color-primary: #4608ad;
  --color-secondary: #e0e5e7;
  --color-text: #0F2027;
}

* {
  box-sizing: border-box;
}

body {
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  color: var(--color-text);
	font-family: Helvetica, Arial, sans-serif;
  font-size: .8rem;
  line-height: 1rem;
	margin: 1rem;
  overflow: visible;
  min-width: 26rem;
  max-width: 30rem;
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
}

h1 {
  text-align: center;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 1rem;
}

.btn-div {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

span {
  font-weight: bold;
  padding: 0.5rem;
}

p {
  padding: 0.5rem;
}

a {
  color: var(--color-primary);
  outline: none;
  text-decoration: none;
}

a:focus, 
a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  background-color: #b798e9;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-text);
  border-radius: 1rem;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
    background-color: var(--color-secondary);
}

.remove-entry {
  cursor: pointer;
  padding: 0rem 0.3rem;
  border: 1px solid var(--color-text);
  border-radius: 0.4rem;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* From the robot */
#gtag-list span,
#unmatched-list span {
  white-space: normal;
  overflow-wrap: anywhere;
}
