:root {
  --color-background: white;
  --color-primary: #4608ad;
  --color-secondary: #fafafa;
  --color-text: #4a4a4a;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  direction: ltr;
	font-family: Helvetica, Arial, sans-serif;
  font-size: .8rem;
  line-height: 1rem;
	margin: 1rem;
  overflow: visible;
  min-width: 26rem;
  max-width: 34rem;
}

a {
  color: var(--color-primary);
  outline: none;
  text-decoration: none;
}

a:focus, a:hover {
  text-decoration: underline;
}

button {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 0.2rem;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
    background-color: var(--color-secondary)
}

.remove-entry {
  padding: 0.1rem 0.3rem;
  border: 1px solid black;
  border-radius: 0.2rem;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
}

span {
  font-weight: bold;
  padding: 0.5rem;
}

/* From the robot */
#gtag-list span,
#unmatched-list span {
  white-space: normal;
  overflow-wrap: anywhere;
}



