* {
  box-sizing: border-box;
}

:root {
  font-family: monospace;
  font-size: 1rem;
  background-color: #fafaf8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  min-width: 460px;
  max-width: 620px;
  min-height: 200px;
  padding: 0.5em;
}

p {
  margin: 0 0 0.25em 0;
}

hr {
  border: none;
  border-top: 1px solid #374151;
  margin: 0.5em 0;
}

/*
=====
HEADER STYLES
=====
 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 10px;
}

header > h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
}

.buttons-div {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.buttons-div > button {
  font-size: 0.75rem;
  font-weight: 400;
  padding: 2px 6px;
  border: 1px solid #374151;
  background-color: #fafaf8;
  color: #374151;
  cursor: pointer;
}

.buttons-div > button:hover {
  background-color: #374151;
  color: #fafaf8;
}

/*
=====
TAG LIST STYLES
=====
*/
.tags-list {
  padding: 0.75em 0;
}

.url-container {
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.25em 0;
}

.url-container > button {
  font-size: 0.75rem;
  font-weight: 400;
  padding: 2px 6px;
  border: 1px solid #374151;
  background-color: #fafaf8;
  color: #374151;
  cursor: pointer;
}

.url-container > button:hover {
  background-color: #374151;
  color: #fafaf8;
}
